- teams.each do |team|
  .large-3.columns.team-section
    %h4.text-center
      = "#{team.name} - #{category_name}"
  .large-9.columns.team-section
    - team.team_participants.each_with_index do |p, index|
      .row.list-item
        .large-12.columns
          .small-1.columns
            = p.participant.number
          .small-3.columns
            - if p.placeholder
              %span{ data: { tooltip: true }, aria: { haspopup: true }, class: 'has-tip', title: placeholder_text }
                = fa_icon('exclamation-triangle', text: p.participant.flyer.name)
            - else
              = p.participant.flyer.name
          .small-3.columns= "#{p.participant.flyer.hours.ceil} hrs"
          .small-3.columns= p.participant.category.name
          .small-2.columns= team_participant_score(p)
