- teams.each do |team|
  .large-3.columns.team-section
    %h4.text-center
      = "#{team.name} - #{category_name}"
  .large-9.columns.team-section
    - team.participants.each_with_index do |p, index|
      .row.list-item
        .large-12.columns
          .large-1.columns
            - if p.number
              = "#{p.number}."
            - else
              = fa_icon('ban', text: "")
          .large-3.columns= p.flyer.name
          .large-3.columns= "#{p.flyer.hours.ceil} hrs"
          .large-4.columns= p.category.name
