%tr{ id: "team-participant-#{team_participant.id}" }
  %td.large-1.medium-1.small-2= "#{team_participant.participant.number}."
  %td.large-6.medium-6.small-10
    - if team_participant.placeholder
      %span{ data: { tooltip: true }, aria: { haspopup: true }, class: 'has-tip', title: placeholder_text }
        = fa_icon('exclamation-triangle', text: team_participant.participant_name)
    - else
      = team_participant.participant.name
  %td.large-3.medium-3.small-2.hide-for-small-only= team_participant.category_name
  - if can?(:update, event) && !event.locked?
    %td.large-2.medium-2.small-1.text-right.hide-for-small-only
      = react_component('DeleteButton', item: "team-participant-#{team_participant.id}", path: destroy_teams_participant_path(team_id: team_participant.team.id, id: team_participant))

