.row.flyer-list-item{ id: "team-participant-#{team_participant.id}" }
  .large-12.columns
    .small-4.columns
      - if team_participant.placeholder
        %span{ data: { tooltip: true }, aria: { haspopup: true }, class: 'has-tip', title: placeholder_text }
          = fa_icon('exclamation-triangle', text: team_participant.participant_name)
      - else
        = team_participant.participant_name
    .small-4.columns= team_participant.category_name
    .small-3.columns= team_participant.participant_hours_humanize
    .small-1.columns.text-right
      .right= react_component('DeleteButton', item: "team-participant-#{team_participant.id}", path: destroy_teams_participant_path(team_id: team_participant.team.id, id: team_participant))
