%h2.heading.text-center= event.title
.large-12.small-12.columns.small-centered.leader-board-section
  %table.leader-board-table
    %thead
      %tr
        %th.large-1.small-1 Place
        %th Name
        %th.hide-for-small-only Category
        - event.rounds.each do |round|
          %th.text-center= round.round_number
        %th.text-center.hide-for-small-only Handicap
        %th.text-center Total
    %tbody#leader-board
      - @leader_board.each_with_index do |lb_participant, index|
        %tr
          %td.large-1.small-1= "#{index + 1}."
          %td= lb_participant.name
          %td.hide-for-small-only= lb_participant.category
          - event.rounds.each do |round|
            %td.text-center= lb_participant.round_score(round.id).try(:score)
          %td.text-center.hide-for-small-only= lb_participant.handicap
          %td.text-center= lb_participant.total_score
