.pull-right= link_to "Go to Event", @event, class: 'button-xs'
%h2.heading.text-center= "#{@event.name} Teams"
- @teams.group_by{ |p| p.category.name }.each_with_index do |(category_name, teams), index|
  - if index > 0
    .large-12.columns.underline
  - else
    .large-12.columns

  - teams.each do |team|
    .large-3.columns
      %h4.text-center
        = "#{team.name} - #{category_name}"
    .large-9.columns
      - team.participants.each_with_index do |p, index|
        .row.list-item
          .large-12.columns
            .large-1.columns= "#{p.number}."
            .large-3.columns= p.flyer.name
            .large-3.columns= "#{p.flyer.hours} hrs"
            .large-4.columns= p.category.name
