%td.long= tenant.name
%td.long= tenant.domain
%td.long= tenant.database
%td= boolean_icon(tenant.enabled)
%td.text-right
  %ul.button-group.radius
    %li= react_component('GetButton', path: edit_tenant_path(tenant), icon: 'pencil')
    %li= react_component('DeleteButton', path: tenant_path(tenant), confirm: "Delete Tenant #{tenant.name}")