%td= link_to fa_icon('link', text: tenant.name, right: true), tenant
%td= tenant.domain
%td= tenant.database
%td= tenant.enabled
%td.text-right
  %ul.button-group.radius
    %li= link_to fa_icon('pencil', text: ''), edit_tenant_path(tenant), remote: true, class: 'button-xs'
    %li= link_to fa_icon('trash-o', text: ''), tenant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button-xs'
