%td.long= tenant.name
%td.long= tenant.domain
%td.long= tenant.database
%td= boolean_icon(tenant.enabled)
%td.text-right
  .right= react_component('DeleteButton', item: "tenant-#{tenant.id}", path: tenant_path(tenant), confirm: "Delete #{tenant.name} ?")
  .right= react_component('GetButton', path: edit_tenant_path(tenant), icon: "info")
