= simple_form_for [:admin, @tenant], remote: true do |f|
  = f.error_notification
  = f.input :name
  = f.input :domain
  = f.input :database
  = f.input :enabled, placeholder: 'Enabled'
  = f.button :submit, class: 'button-xs radius'
