.authform
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    %h2
      Edit #{resource_name.to_s.humanize}
    = f.error_notification
    .row.collapse
      .small-12.large-12.columns
        = f.text_field :name, placeholder: 'Username', autofocus: true, class: 'form-control'
    .row.collapse
      .small-12.large-12.columns
        = f.email_field :email, placeholder: 'Email', class: 'form-control'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .row.collapse
      .small-12.large-12.columns
        = f.password_field :password, placeholder: 'Password', class: 'form-control'
    .row.collapse
      .small-12.large-12.columns
        = f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-control'
    .row.collapse
      .small-12.large-12.columns
        = f.password_field :current_password, placeholder: '* Current Password', required: true, class: 'form-control'
    .register-bottom
      = f.button :submit, "Update", class: 'button-xs radius pull-right'
      %p
        Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
