-#.authform
-#  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form', data: { abide: ' ' } }) do |f|
-#    %h3 Sign up
-#    = f.error_notification
-#    .row.collapse
-#      .small-2.large-2.columns
-#        %span.prefix
-#          %i.fa.fa-user
-#      .small-10.large-10.columns
-#        = f.text_field :name, placeholder: 'Screen name', autofocus: true, class: 'form-control'
-#        = f.full_error :name
-#    .row.collapse
-#      .small-2.large-2.columns
-#        %span.prefix
-#          %i.fa.fa-envelope
-#      .small-10.large-10.columns
-#        = f.email_field :email, placeholder: 'Email', class: 'form-control'
-#        = f.full_error :email
-#    .row.collapse
-#      .small-2.large-2.columns
-#        %span.prefix
-#          %i.fa.fa-lock
-#      .small-10.large-10.columns
-#        = f.password_field :password, placeholder: 'Password', class: 'form-control'
-#        = f.full_error :password
-#    .row.collapse
-#      .small-2.large-2.columns
-#        %span.prefix
-#          %i.fa.fa-lock
-#      .small-10.large-10.columns
-#        = f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-control'
-#        = f.full_error :password_confirmation
-#    .register-bottom
-#      %span.left.reg-msg Already on the team?
-#      = link_to 'Sign in', new_session_path(resource_name), class: 'left'
-#      = f.submit 'Sign up', class: 'button right tiny radius'

-#, html: { role: 'form', data: { abide: ' ' }, class: 'form-horizontal' }

%h3.text-center Sign up
.row
  .large-4.small-6.columns.small-centered.underline
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.input :name, required: true
      = f.input :email, as: :email, required: true
      = f.input :password, as: :password, required: true
      = f.input :password_confirmation, as: :password, required: true
      = f.button :submit, 'Sign up', class: 'button-xs'

.row
  .large-4.small-6.columns.small-centered.text-center
    .reg-msg Already on the team? #{ link_to 'Sign in', new_session_path(resource_name) }

