.authform
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f|
    %h3 Sign up
    .row.collapse
      .small-12.large-12.columns
        = devise_error_messages!
    .row.collapse
      .small-2.large-2.columns
        %span.prefix
          %i.fa.fa-user
      .small-10.large-10.columns
        = f.text_field :name, placeholder: 'Username', autofocus: true, class: 'form-control'
    .row.collapse
      .small-2.large-2.columns
        %span.prefix
          %i.fa.fa-envelope
      .small-10.large-10.columns
        = f.email_field :email, placeholder: 'Email', class: 'form-control'
    .row.collapse
      .small-2.large-2.columns
        %span.prefix
          %i.fa.fa-lock
      .small-10.large-10.columns
        = f.password_field :password, placeholder: 'Password', class: 'form-control'
    .row.collapse
      .small-2.large-2.columns
        %span.prefix
          %i.fa.fa-lock
      .small-10.large-10.columns
        = f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-control'
    .register-bottom
      %span.left.reg-msg Already on the team?
      = link_to 'Sign in', new_session_path(resource_name), class: 'left'
      = f.submit 'Sign up', class: 'button right tiny radius'
