%td= flyer.name
%td.hide-for-small-only.long= flyer.email
%td= flyer.hours_humanize
%td.text-right
  .right= react_component('DeleteButton', item: "flyer-#{flyer.id}", path: flyer_path(flyer))
  .right= react_component('GetButton', path: edit_flyer_path(flyer), icon: "pencil")

