%td= flyer.name
%td= flyer.email
%td= flyer.hours
%td
  %button.button-xs.dropdown{ href: '#', data: { dropdown: "flyer-drop-#{flyer.id}" }, aria: { controls: "flyer-drop-#{flyer.id}", expanded: 'false' } } Actions
  %ul.f-dropdown{ id: "flyer-drop-#{flyer.id}", data: { 'dropdown-content' => true }, aria: { hidden: true }, tabindex: '-1' }
    %li= link_to 'Edit', edit_flyer_path(flyer), remote: true
    %li= link_to 'Delete', flyer, method: :delete, data: { confirm: 'Are you sure?' }
