%td= flyer.name
%td.long= flyer.email
%td= flyer.hours_humanize
%td.text-right
  %ul.button-group.radius
    %li= react_component('GetButton', path: edit_flyer_path(flyer), icon: 'pencil')
    %li= react_component('DeleteButton', path: flyer_path(flyer), confirm: "Delete Flyer #{flyer.name}")
