%td= flyer.name
%td= flyer.email
%td= flyer.hours
%td.text-right
  %ul.button-group.radius
    %li= link_to fa_icon('pencil', text: ''), edit_flyer_path(flyer), remote: true, class: 'button-xs'
    %li= link_to fa_icon('trash-o', text: ''), flyer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button-xs'
