= simple_form_for(@flyer) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, placeholder: 'Name', label: false
    = f.input :hours, label: false, placeholder: 'Number of Tunnel Hours'


  .form-actions
    = f.button :submit
