= simple_form_for @flyer, remote: true do |f|
  = f.error_notification
  = f.input :name
  = f.input :email
  = f.input :hours, collection: TunnelHours.to_a.sort{ |a, b| a.last <=> b.last }, include_blank: 'Please select', label: 'Number of Tunnel Hours', input_html: { class: 'participant-select2' }
  = f.button :submit, class: 'lrg-btn'
