= simple_form_for(@flyer) do |f|
  = f.error_notification
  = f.input :name, placeholder: 'Name', label: false
  = f.input :hours, label: false, placeholder: 'Number of Tunnel Hours'
  = f.button :submit, class: 'button-xs radius'
