= link_to fa_icon('plus', text: 'New flyer'), new_flyer_path, class: 'button-xs add-button pull-right', remote: true
%h2.text-center Flyers

.large-8.small-centered.columns
  - if @flyers.present?
    %table.index
      %tr
        %th Name
        %th Hours
        %th
        %th

      - @flyers.each do |flyer|
        %tr
          %td= flyer.name
          %td= flyer.hours
          %td.text-center= link_to fa_icon('edit', text: ''), edit_flyer_path(flyer), class: 'icon', remote: true
          %td.text-center= link_to fa_icon('trash', text: ''), flyer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon'
  - else
    .empty-list.text-center
      = fa_icon('frown-o', text: 'No flyers')
