.pull-right
  = link_to fa_icon('plus', text: 'New flyer'), new_flyer_path, class: 'button-xs', remote: true
  = link_to fa_icon('plus', text: 'Upload flyers'), new_flyer_import_path, class: 'button-xs', remote: true

%h2.text-center Flyers

.row
  .small-10.small-centered.columns
    = render partial: 'shared/search', locals: { filters: flyer_filters, path: flyers_path }

  .small-10.small-centered.columns
    - if @flyers.present?
      %table.index.responsive
        %thead
          %tr
            %th Name
            %th Email
            %th Hours
            %th
            %th
        %tbody#flyers
          = render 'flyers'
      #pages= paginate @flyers
    - else
      .empty-list.text-center
        = fa_icon('frown-o', text: 'No flyers')
