.pull-right
  .info{ data: { tooltip: true }, aria: { haspopup: true }, class: 'has-tip tip-left', title: create_flyer_text }= fa_icon('info', text: '')
  = link_to fa_icon('plus', text: 'New flyer'), new_flyer_path, class: 'button-xs add-button', remote: true

.pull-left
  = link_to fa_icon('plus', text: 'Upload flyers'), new_flyer_import_path, class: 'button-xs add-button', remote: true
  .info{ data: { tooltip: true }, aria: { haspopup: true }, class: 'has-tip tip-right', title: bulk_flyers_upload_text }= fa_icon('info', text: '')

%h2.text-center Flyers

.row
  .large-9.small-centered.columns
    = render partial: 'shared/search', locals: { filters: flyer_filters, path: flyers_path }

  .large-9.small-centered.columns
    - if @flyers.present?
      %table.index
        %thead
          %tr
            %th Name
            %th Email
            %th Hours
            %th
            %th
        %tbody#flyers
          = render 'flyers'
      #pages= paginate @flyers
    - else
      .empty-list.text-center
        = fa_icon('frown-o', text: 'No flyers')
