#flyers
  - @flyers.each do |flyer|
    .row{ id: "flyer-#{flyer.id}" }
      .large-12.medium-12.small-12.columns.small-centered
        = form_tag event_participants_path(event_id: @event.id), method: :post, remote: true do
          .large-6.medium-6.small-6.columns
            = submit_tag "Add #{flyer.name}", class: "button-xs radius add-flyer-button"
          .large-6.medium-6.small-6.columns
            = hidden_field_tag "participant[flyer_id]", flyer.id
            = select_tag "participant[category_id]", options_for_select(current_user.categories.map { |c| [c.name, c.id]}), prompt: 'Please select', class: 'participant-select2'
%div#pages= paginate @flyers, remote: true

:coffeescript
  $(document).on 'click', '.add-flyer-button', (e) ->
    $(this).closest('.row').hide();
