.row.flyer-list-item{ id: "participant-#{p.id}" }
  .large-12.columns
    .small-9.columns.participant-name= "#{p.number}. #{p.flyer.name}"
    .small-1.columns.text-center
      = link_to fa_icon('info', text: ''), event_participant_path(p, event_id: p.event.id), class: 'participant-button button-xs', remote: true
    .small-1.columns.text-center{ id: "payment-icon-#{p.id}" }
      = link_to fa_icon('money', text: ''), edit_event_payment_path(p.payment, event_id: p.event.id), class: "participant-button button-xs #{p.payed? ? 'payed' : 'unpayed' }", remote: true
    .small-1.columns.text-center
      = link_to fa_icon('trash', text: ''), event_participant_path(p, event_id: p.event.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'participant-button button-xs'
