%h2.text-center Users

.row
  .large-12.medium-12.small-12.columns.small-centered
    .search-panel
      .row
        .small-12.medium-12.large-12.columns
          .row
            = search_form_for @q, url: users_path, remote: true do |f|
              .small-12.medium-3.large-4.columns
                = f.search_field :name_or_email_cont, placeholder: 'Search Name', class: 'small-3 columns'
              .small-12.medium-3.large-4.columns.left
                = f.submit 'Search', class: 'button-xs search-btn'

            - if can?(:invite, User)
              .small-12.medium-3.large-4.columns.text-right
                = link_to fa_icon('plus', text: 'Invite user'), new_user_invitation_path, class: 'button-xs', remote: true
.row
  .large-12.medium-12.small-12.columns.small-centered
    #user-list
      = render 'users'
