%td= link_to fa_icon('link', text: event.name, right: true), event
%td= event.event_date.strftime('%d %b %Y')
%td= event.category_type_humanize
%td= event.team_size
%td= event.num_rounds
%td.text-right
  %ul.button-group.radius
    - if event.show_score_board?
      %li= react_component('GetButton', path: event_teams_path(event), icon: 'table')
    %li= react_component('GetButton', path: edit_event_path(event), icon: 'pencil')
    %li= react_component('DeleteButton', item: "event-#{event.id}", path: event_path(event), confirm: "Delete Event #{event.name}?")