%td= link_to fa_icon('link', text: event.name, right: true), event
%td= event.event_date.strftime('%d %b %Y')
%td= event.category_type_humanize
%td= event.team_size
%td= event.num_rounds
%td.text-right
  %ul.button-group.radius
    - if event.show_score_board?
      %li= link_to fa_icon('table', text: ''), event_teams_path(event), class: 'button-xs'
    %li= link_to fa_icon('pencil', text: ''), edit_event_path(event), remote: true, class: 'button-xs'
    %li= link_to fa_icon('trash-o', text: ''), event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button-xs'
