%td= link_to fa_icon('link', text: event.name, right: true), event
%td= event.event_date
%td= event.location
%td= event.team_size
%td= event.num_rounds
%td.text-center= link_to fa_icon('edit', text: ''), edit_event_path(event), class: 'icon', remote: true
%td.text-center= link_to fa_icon('trash', text: ''), event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon'
