%td= link_to fa_icon('link', text: event.name, right: true), event
%td= event.event_date.strftime('%d %b %Y')
%td= event.location
%td= event.team_size
%td= event.num_rounds
%td.text-right
  %ul.button-group.radius
    %li= link_to fa_icon('pencil', text: ''), edit_event_path(event), remote: true, class: 'button-xs'
    %li= link_to fa_icon('trash-o', text: ''), event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button-xs'
