= simple_form_for(@event) do |f|
  = f.error_notification
  = f.input :location, placeholder: 'Location', label: false
  = f.input :event_date, as: :string, label: false, placeholder: 'Event Date', input_html: { class: 'datepicker' }
  = f.button :submit, class: 'button-xs radius'
