.large-12.medium-12.small-12.columns
  %ul
    - unless event.category_participants.present?
      %li.empty-list
        .empty-list-panel= fa_icon('frown-o', text: 'No Participants')

    - event.category_participants.each do |category, participants|
      %li.participant-category{ id: "category-#{category.id}" }
        .custom-panel
          .panel-header
            .right= react_component('DeleteButton', path: event_category_path(event, category), confirm: "Delete Participant Category?")
            = category.display_name
          .panel-content
            - participants.each do |participant|
              = react_component('Participant', data: participant.data)
