%div{ class: "empty-list #{ 'hidden' unless event.participants.empty? }" }
  .large-12.medium-12.small-12.columns
    .empty-list-panel= fa_icon('frown-o', text: 'No Participants')

- event.category_participants.each do |category, participants|
  .large-6.medium-6.small-12.columns.vertical-nav-content
    %table.participants-table
      %tbody
        - participants.each do |p|
          %tr{ id: "participant-#{p.id}" }
            %td.large-2.medium-2.small-3= "#{p.number}."
            %td= p.flyer.name
            %td.hide-for-small-only= category.display_name
            %td
              .right= react_component('DeleteButton', item: "participant-#{p.id}", path: event_participant_path(p, event_id: p.event.id))
              .right= react_component('GetButton', path: event_participant_path(p, event_id: p.event.id), icon: 'info')
