.large-3.medium-3.small-12.columns.event-content
  %ul.tabs.vertical{ data: { tab: true, options: 'deep_linking:true' }, role: 'tablist' }
    %li.tab-title.active{ role: 'presentational' }
      %a{ href: '#participants-tab' }
        Participants
    - unless event.rounds.blank?
      - event.rounds.each_with_index do |r, index|
        %li.tab-title{ role: 'presentational' }
          %a{ href: "#panel-#{r.round_number}" }
            = "Round #{r.round_number}"

.large-9.medium-9.small-12.columns.event-content
  .tabs-content
    = active_content(0, 'participants-tab') do
      .event-participants
        #new-participant
        #participant-list
          = render 'events/participants'

    - event.rounds.each_with_index do |r, index|
      = active_content(index + 1, "panel-#{r.round_number}") do
        = render partial: 'events/teams', locals: { round: r }

:coffeescript
  $ ->
    $(document).foundation();
