.large-1.medium-1.small-12.columns.event-content
  %ul.tabs.vertical{ data: { tab: true, options: 'deep_linking:false' }, role: 'tablist' }
    %li.tab-title.active{ role: 'presentational' }
      = link_to 'Participants', '#participants-tab', class: 'text-center'
    - unless event.rounds.blank?
      - event.rounds.each do |r|
        %li.tab-title{ role: 'presentational' }
          = link_to r.name, "#panel-#{r.round_number}", class: 'text-center'

.large-11.medium-11.small-12.columns.event-content
  .tabs-content
    = active_content(0, 'participants-tab') do
      #participant-list= render 'events/participants'

    - event.rounds.each_with_index do |r, index|
      = active_content(index + 1, "panel-#{r.round_number}") do
        = render partial: 'events/teams', locals: { round: r }

:coffeescript
  $ ->
    $(document).foundation();
