%ul
  - @event.teams.each do |team|
    %li
      .panel
        = link_to fa_icon('remove', text: ""), team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'pull-right'
        %h4.text-center
          = team.name
        - team.participants.each_with_index do |p, index|
          .row.flyer-list-item
            .large-12.columns
              .large-5.columns= p.flyer.name
              .large-4.columns= p.category.name
              .large-1.columns.text-right= link_to fa_icon('remove', text: ""), team, method: :delete, data: { confirm: 'Are you sure?' }
        -#%button.add-flyer.button-xs.add-button{ data: { team_id: team.id, event_id: @event.id } }= fa_icon('plus', text: 'Add Flyer')
