.large-12.medium-12.small-12.columns
  - unless round.teams.present?
    .empty-list
      .empty-list-panel= fa_icon('frown-o', text: "No Teams for Round #{round.round_number}")
  %ul
    - round.teams.each do |team|
      %li.team-item{ id: "team-#{team.id}" }
        .custom-panel
          .panel-header
            = link_to fa_icon('trash', text: ""), event_team_path(team, event_id: event.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'pull-right delete-button button-xs', remote: true
            = "Round #{round.round_number} - #{team.name} - #{team.category.display_name}"
          .panel-content
            = render partial: 'teams/team', locals: { team: team }
          .panel-footer
            = link_to fa_icon('plus', text: ""), new_teams_participant_path(team_id: team.id, event_id: event.id), class: "button-xs add-button new-team-participant-#{team.id}", remote: true
