%ul
  - @event.teams.each do |team|
    %li
      .panel
        = link_to fa_icon('remove', text: ""), event_team_path(team, event_id: @event.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'pull-right'
        .pull-left
          %b= team.category.name
        %h4.text-center
          = team.name
        - team.participants.each_with_index do |p, index|
          .row.flyer-list-item
            .large-12.columns
              .large-5.columns= p.flyer.name
              .large-4.columns= p.category.name
              .large-1.columns.text-right= link_to fa_icon('remove', text: ""), p, method: :delete, data: { confirm: 'Are you sure?' }
