.large-12.columns.text-center
  %h2.text-center Events

.row
  .small-12.small-centered.columns
    .panel{ style: 'padding-bottom: 0;' }
      .row.collapse
        .right
          = link_to fa_icon('plus', text: 'New Event'), new_event_path, class: 'button-xs pull-right', remote: true

        = search_form_for @q, url: events_path, remote: true do |f|
          = f.search_field :name_or_location_cont, placeholder: 'Search Name or Location', class: 'small-3 columns'
          = f.search_field :event_date_eq, placeholder: 'Event Date', class: 'small-3 columns datepicker event-date'
          = f.submit 'Search', class: 'button-xs search-btn'

  .large-12.small-centered.columns
    - if @events.present?
      %table.index.responsive
        %thead
          %tr
            %th Name
            %th Event date
            %th Location
            %th Team Size
            %th Rounds
            %th
            %th

        %tbody#events= render 'events'
      #pages= paginate @events
    - else
      .empty-list.text-center= fa_icon('frown-o', text: 'No Events')

:coffeescript
  $("input.datepicker").datepicker({ dateFormat: "dd/mm/yy", firstDay: "1", changeMonth: true, changeYear: true })
