.pull-right= edit_event_link(@event)
.pull-left#expenses= expenses_link(@event)
%h2.heading.text-center= "#{@event.name} - #{@event.event_date}"

.large-12.columns
  .large-5.columns
    .event-participants
      .pull-right= new_participant_link(@event)
      %h4 Participants
      .new-participant
      .participant-list
        .panel
          - if @event_presenter.participants?
            = render 'participants'
          - else
            .empty-list.text-center= fa_icon('frown-o', text: 'No Participants')

  .large-7.columns
    .event-teams
      .pull-right= generate_teams_link(@event)
      .pull-right#show-teams= show_teams_link(@event)
      %h4.pull-left Teams
    .new-teams.large-12.columns
      %div.generating-teams
        %i.fa.fa-refresh.fa-spin
        Generating Teams

    .teams-list
      = render 'events/teams'
