.pull-right= link_to fa_icon('edit', text: 'Edit Event'), edit_event_path(@event), class: 'button-xs', remote: true
.pull-left#expenses= link_to fa_icon('money', text: 'Expenses'), nil, class: 'button-xs', remote: true
%h2.heading.text-center= "#{@event.name} - #{@event.event_date}"

.large-12.columns
  .large-5.columns
    .event-participants
      .pull-right= link_to fa_icon('plus', text: 'New Participant'), new_event_participant_path(event_id: @event.id), class: "button-xs new-participant-button", remote: true
      %h4 Participants
      .new-participant
      .participant-list
        .panel
          - if @event.participants.present?
            = render 'participants'
          - else
            .empty-list.text-center= fa_icon('frown-o', text: 'No Participants')

  .large-7.columns
    .event-teams
      .pull-right= button_to 'Generate Teams', { action: 'generate', event_id: @event.id }, { class: 'button-xs radius', id: 'generate-teams', remote: true }
      .pull-right#show-teams= link_to fa_icon('table', text: 'Show Teams'), event_teams_path(event_id: @event.id), class: 'button-xs radius'
      %h4.pull-left Teams
    .new-teams.large-12.columns
      %div.generating-teams
        %i.fa.fa-refresh.fa-spin
        Generating Teams

    .teams-list
      = render 'events/teams'
