%td= page.name
%td= page.title
%td= page.slug
%td.text-right
  %ul.button-group.radius
    %li= react_component('GetButton', path: edit_page_path(page), icon: 'pencil')
    %li= react_component('DeleteButton', path: page_path(page), confirm: "Delete Page #{page.name}")
