%td= page.name
%td= page.title
%td= page.slug
%td.text-right
  .right= react_component('DeleteButton', item: "page-#{page.id}", path: page_path(page))
  .right= react_component('GetButton', path: edit_page_path(page), icon: "pencil")
