%h3.text-center Sign in
.row
  .large-4.medium-6.small-12.columns.small-centered.underline
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, as: :email, autofocus: true, required: true, label: false, placeholder: 'Email'
      = f.input :password, as: :password, required: true, label: false, placeholder: 'Password'
      .custom-checkbox.hide
        = f.check_box :remember_me, value: 1
        = f.label :remember_me
      = f.button :submit, 'Sign in', class: 'button-xs devise-button'

.row
  .large-4.medium-6.small-12.columns.small-centered.text-center
    = link_to 'Forgot password?', new_password_path(resource_name)

