%h2.text-center Categories

.row
  .small-12.small-centered.columns
    .panel{ style: 'padding-bottom: 0;' }
      .row.collapse
        .right
          = link_to fa_icon('plus', text: 'New category'), new_category_path, class: 'button-xs pull-right', remote: true
        = search_form_for @q, url: events_path, remote: true do |f|
          = f.search_field :name_cont, placeholder: 'Search Name', class: 'small-3 columns'
          = f.submit 'Search', class: 'button-xs search-btn'


  .large-12.columns.small-centered
    - if @categories.present?
      %table.index.responsive
        %thead
          %tr
            %th Name
            %th
        %tbody#categories
          - @categories.each do |category|
            %tr{ id: "category-#{category.id}" }
              = render category
      #pages= paginate @categories
    - else
      .empty-list.text-center= fa_icon('frown-o', text: 'No categories')
