%td= TunnelHours.key_for(handicap.hours).to_s.capitalize
%td= handicap.hours_humanize
%td= "#{handicap.amount} points"
%td.text-right
  .right= react_component('GetButton', path: edit_scoring_path(handicap), icon: "info")
